* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: blueviolet; */
  
}
body{
     font-family: 'Adobe Clean', sans-serif;
}
/* nav{
    display:inline-block;
  } */
/* .imgback {
 
 /* object-position: center; */
  /* object-fit: cover;
  
  height: 440px !important;
}  */

.border1{

text-align: center;}

.navbar::before{
  content: "";
  background-image: url("./images/shutterstock_348320018.png") ;
background-position: center;
object-fit: cover;
position: absolute;
height: 460px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;

  filter: brightness(0.7);
}

/* logo-text */

.logo-text{
  margin-top: 20px;
background-color: white;
height: 137px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
width: 128px;
font-weight: bold;
font-size: 60px;
}

.input1{
  width: 245px;
  height: 60px

}

.input2{
  width: 477px;
height: 60px;
padding:30px;
}

.bi-search{
  position: relative;
  left:25px;
  top:15px;
  width: 17px;
height: 17px;
color:#74819E;
font-size:20px ;

/* UI Properties */

background: #f4f5f7 0% 0% no-repeat padding-box;
opacity: 0.97;

}

 .card-img1{
  width: 160px !important;
height: 160px;
} 
.bordercard{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
width: 360px !important;
} 